* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eeeeee;
  margin: 0;
  color: #222;
}

/* HEADER Y NAVBAR */
header {
  background-color: #1e09df;
  color: white;
  padding: 15px 25px;
  border-bottom: 4px solid rgb(223, 66, 215);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 6px 10px;
}

nav a:hover {
  background-color: green;
  color: white;
}

/* CONTENIDO PRINCIPAL */
main {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
}

/* SECCIONES */
section {
  background-color: rgb(247, 127, 203);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}

h2 {
  color: #4d1dde;
  border-bottom: 2px solid rgb(161, 23, 192);
  padding-bottom: 5px;
}

h3 {
  color: #3024e0;
  margin-top: 15px;
}

/* FORMULARIOS */
label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #1724d5;
  font-family: Arial, sans-serif;
}

textarea {
  height: 80px;
  resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid green;
}

/* BOTONES */
button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: rgb(93, 142, 232);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(206, 61, 177);
}

/* TABLA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
h1 {
  color: #d2cde1;
  border-bottom: 2px solid rgb(161, 23, 192);
  padding-bottom: 5px;
}

th {
  background-color: #351be1;
}

/* FICHA DEL ENCUENTRO */
.ficha-encuentro {
  background-color: #eeeeee;
  padding: 10px;
  border: 1px solid #aaa;
  margin-bottom: 15px;
}

.ficha-encuentro p {
  margin: 5px 0;
}

/* FIRMA */
.firma-arbitro {
  margin-top: 30px;
  text-align: right;
}

/* PIE DE PAGINA */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 13px;
}